.header{
    padding: 0.2em;
    display: flex;
    background-color: rgb(107, 44, 166);
    color: rgb(251, 220, 171);
    align-items: center;
}
.header .img{
    padding-left: 2em;
}
.header img{    
    width: 20%;
    height: 100%;
    border-radius: 50%;
}
.header .text{
    font-size: 2em;
    text-decoration: underline;
    padding-left: 7em;
}